@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-satoshi: "LXGW WenKai", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, monospace;
  --color-primary: #659EB9;
}

:root {
  --bg: #FCFCFD;
  --fg: #18181B;
  --muted: #F4F4F5;
  --muted-fg: #71717A;
  --border: #E4E4E7;
}

.dark {
  --bg: #0B0B10;
  --fg: #FAFAFA;
  --muted: #27272A;
  --muted-fg: #A1A1AA;
  --border: #3F3F46;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  font-family: var(--font-satoshi);
  transition: background 0.3s, color 0.3s;
}

a {
  color: inherit;
  text-decoration: none;
}